<div class="card card-blog-split">
    <div class="row no-gutters flex-row-reverse">
        <div class="col-md-5 col-lg-6 col-xl-5">
            <figure>
                <img src="http://via.placeholder.com/500x334" class="img-fit-cover" alt="">
            </figure>
        </div>
        <div class="col-md-7 col-lg-6 col-xl-7">
            <p class="blog-category tx-success">Science</p>
            <h5 class="blog-title"><a href="">Five Actual Facts About the Science of Dreams</a></h5>
            <p class="blog-text">It is a long established fact that a reader will be distracted by the readable
                content of a page when looking at its layout. Nascetur ridiculus mus. Donec quam felis, ultricies
                nec...</p>
            <span class="blog-date">Mar 11, 2017, 2:30pm</span>
        </div>
    </div>
</div>