<div class="card card-customer-overview">
    <div class="card-header">
        <h6 class="slim-card-title">Queue Detail</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="table-queue" class="table mg-b-0 tx-13">
                <thead>
                    <tr class="tx-10">
                        <th class="pd-y-5">Name</th>
                        <th class="pd-y-5">Queue</th>
                        <th class="pd-y-5">Consumer</th>
                        <th class="pd-y-5">Enqueue</th>
                        <th class="pd-y-5">Operation</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>