<div class="card card-customer-overview">
    <div class="card-header">
        <h6 class="slim-card-title" ng-hide="canUpdate">Agent Information</h6>
        <h6 class="slim-card-title" ng-show="canUpdate">Update {{agent.instanceAgentId.agentName}}</h6>
    </div>
    <div class="card-body">
        <form class="form-layout form-layout-6" name="formTomcat" ng-submit="save()">
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                    Instance Name
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="agentName" placeholder="Instance Name" required
                        ng-model="agent.agentName">
                </div>
            </div>
            <div class="row no-gutters" ng-if="canUpdate === false">
                <div class="col-5 col-sm-4">
                    Instance IP Address
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="agentIpAddress" placeholder="Instance IP Address"
                        required ng-model="agent.agentIpAddress">
                </div>
            </div>
            <div class="row no-gutters" ng-if="canUpdate === false">
                <div class="col-5 col-sm-4">
                    Instance Port
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="agentPort" placeholder="Instance Port" required
                        ng-model="agent.agentPort">
                    <span class="tx-11 d-block">
                        Please select an available port. This port is used by this application to interact with your
                        instance
                    </span>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                    Instance Tomcat Port
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="instanceConnectorPort"
                        placeholder="Instance Tomcat Port" required ng-model="agent.instanceConnectorPort">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                    Instance Tomcat Shutdown Port
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="instanceShutdownPort"
                        placeholder="Instance Tomcat Shutdown Port" required ng-model="agent.instanceShutdownPort">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                    Instance Tomcat AJP Port
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="instanceAJPPort"
                        placeholder="Instance Tomcat AJP Port" required ng-model="agent.instanceAJPPort">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                    Instance Tomcat Redirect Port
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="instanceRedirectPort"
                        placeholder="Instance Tomcat Redirect Port" required ng-model="agent.instanceRedirectPort">
                </div>
            </div>
            <div class="row no-gutters" ng-if="canUpdate === false">
                <div class="col-5 col-sm-4">
                    SSH Username
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="agentUname" placeholder="SSH Username" required
                        ng-model="agent.agentUname">
                </div>
            </div>
            <div class="row no-gutters" ng-if="canUpdate === false">
                <div class="col-5 col-sm-4">
                    SSH Password
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="{{typePassword}}" name="agentPwd" placeholder="SSH Password"
                        required ng-model="agent.agentPwd">
                    <label class="ckbox tx-11 d-block">
                        <input type="checkbox" ng-true-value="'text'" ng-false-value="'password'"
                            ng-init="typePassword = 'password'" ng-model="typePassword">
                        <span>Show Password</span>
                    </label>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                    JVM Argument
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="instanceJVMArgs" placeholder="JVM Argument" required
                        ng-model="agent.instanceJVMArgs">
                </div>
            </div>
            <div class="row no-gutters" ng-if="canUpdate === false">
                <div class="col-5 col-sm-4">
                    Installation Destination
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="agentInstallationDestDir"
                        placeholder="Installation Destination" required ng-model="agent.agentInstallationDestDir">
                    <span class="tx-11 d-block">
                        Please end path location with '/'. Example : /Users/example/Desktop/
                    </span>
                </div>
            </div>
            <div class="form-layout-footer mg-t-30">
                <button type="submit" class="btn btn-primary">
                    <span ng-hide="canUpdate">Add Instance</span><span ng-show="canUpdate">Update Instance</span>
                </button>
                <button class="btn btn-secondary" ui-sref="admin.dashboard" ng-hide="canUpdate">Cancel</button>
                <button class="btn btn-secondary" ui-sref="admin.tomcatInstance({agentId:agent.instanceId})"
                    ng-show="canUpdate">Cancel</button>
            </div>
        </form>
    </div>
</div>