<div class="slim-header with-sidebar">
    <div class="container-fluid">
        <div class="slim-header-left">
            <h2 class="slim-logo tx-inverse tx-light drl-logo">
                <a href="index.html">
                    Tomcat Instance Management System
                </a>
            </h2>
            <a href="" id="slimSidebarMenu" class="slim-sidebar-menu"><span></span></a>
        </div>
        <div class="slim-header-right">
            <div class="dropdown dropdown-c">
                <a href="#" class="logged-user" data-toggle="dropdown">
                    <img src="../../img/admin-logo.png" alt="">
                    <span>Admin</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <nav class="nav">
                        <a href="" class="nav-link" ng-repeat="menu in $ctrl.menu.dropdownC"
                            ng-click="active(menu, menu.href)">
                            <i class="{{menu.icon}}"></i> {{menu.title}}
                        </a>
                        <a href="" class="nav-link" ng-click="logout()">
                            <i class="icon ion-forward"></i> Sign Out
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>