<div class="card">
    <div class="card-body pd-b-0">
        <div class="row no-gutters flex-row-reverse">
            <div class="col-4">
                <figure>
                    <img ng-src="./assets/img/{{$ctrl.img}}" class="img-fit-cover" alt="">
                </figure>
            </div>
            <div class="col-8">
                <h6 class="slim-card-title tx-purple">{{$ctrl.text1}}</h6>
                <h2 class="tx-lato tx-inverse">{{$ctrl.text2}}</h2>
                <p class="tx-12">
                    {{$ctrl.text3}}
                    <br>
                    {{$ctrl.text4}}
                </p>
                <p class="tx-12 btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-oblong btn-outline-purple">Start</button>
                    <button type="button" class="btn btn-sm btn-oblong btn-outline-purple">Stop</button>
                    <button type="button" class="btn btn-sm btn-oblong btn-outline-purple">Log</button>
                    <button type="button" class="btn btn-sm btn-oblong btn-outline-purple">Detail</button>
                </p>
            </div>
        </div>
    </div>
</div>