<div class="card">
    <div class="card-body pd-b-0">
        <div class="row no-gutters flex-row-reverse">
            <div class="col-4">
                <figure>
                    <img ng-src="./assets/img/{{$ctrl.img}}" class="img-fit-cover" alt="">
                </figure>
            </div>
            <div class="col-8">
                <h6 class="slim-card-title tx-primary">{{$ctrl.text1}}</h6>
                <h2 class="tx-lato tx-inverse">{{$ctrl.text2}}</h2>
                <p class="tx-12">
                    {{$ctrl.text3}}
                    <br>
                    {{$ctrl.text4}}
                </p>
                <div ng-transclude></div>
            </div>
        </div>
    </div>
</div>