<div class="card card-customer-overview">
    <div class="card-header">
        <h6 class="slim-card-title">New DataSource Information</h6>
    </div>
    <div class="card-body">
        <div class="form-layout form-layout-6">
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">DataSource Name</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="fullname" placeholder="Enter your fullname">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">JNDI</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="firstname" placeholder="Enter your email address">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Select DataBase Type</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="firstname" placeholder="Enter your email address">
                    <span class="tx-11 d-block">
                        Please select an available port. This port is used by this application to interact with your
                        instance
                    </span>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Url</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="firstname" placeholder="Enter your email address">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Username</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="firstname" placeholder="Enter your email address">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Password</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="firstname" placeholder="Enter your email address">
                </div>
            </div>
            <p>
                <h6 class="tx-uppercase">Thread Pool Information</h6>
            </p>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Initial Size</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="firstname" placeholder="Enter your email address">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Max Total</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="firstname" placeholder="Enter your email address">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Max Idle</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="firstname" placeholder="Enter your email address">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Min Idle</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="firstname" placeholder="Enter your email address">
                    <span class="tx-11 d-block">
                        Please end path location with '/'. Example : /Users/example/Desktop/
                    </span>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Max Wait</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="firstname" placeholder="Enter your email address">
                    <span class="tx-11 d-block">
                        Please end path location with '/'. Example : /Users/example/Desktop/
                    </span>
                </div>
            </div>
            <div class="form-layout-footer mg-t-30">
                <button class="btn btn-primary">Add DataSource</button>
                <button class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>