<div class="card card-customer-overview">
    <div class="card-header">
        <h6 class="slim-card-title">New DataSource Information</h6>
    </div>
    <div class="card-body">
        <form name="datasourceForm" class="form-layout form-layout-6" ng-submit="save()">
            <div class="row no-gutters" ng-show="canUpdate">
                <div class="col-5 col-sm-4">DataSource Id</div>
                <div class="col-7 col-sm-8" style="background-color: #e9ecef;">
                    <input class="form-control" type="text" name="dataSourceId" placeholder="DataSource Id" disabled
                        ng-model="datasourceInstance.dataSourceId">
                </div>
            </div>
            <div class="row no-gutters" ng-style="{'border-top': canUpdate? '': '1px solid #ced4da'}">
                <div class="col-5 col-sm-4">DataSource Name</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="name" placeholder="DataSource Name" required
                        ng-model="datasourceInstance.name">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">JNDI</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="jndi" placeholder="JNDI Address" required
                        ng-model="datasourceInstance.jndi">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Database Type</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="type" placeholder="Database Type" required
                        ng-model="datasourceInstance.type">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Select Database Name</div>
                <div class="col-7 col-sm-8">
                    <select class="form-control" name="driverClassName" required
                        ng-model="datasourceInstance.driverClassName">
                        <option value="">Select Database Name</option>
                        <option value="com.mysql.jdbc.Driver">MySQL</option>
                        <option value="oracle.jdbc.OracleDriver">Oracle</option>
                    </select>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">URL</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="url" placeholder="Database URL" required
                        ng-model="datasourceInstance.url">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Username</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="username" placeholder="Username" required
                        ng-model="datasourceInstance.username">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Password</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="{{typePassword}}" name="password" placeholder="Password"
                        ng-model="datasourceInstance.password">
                    <label class="ckbox tx-11 d-block">
                        <input type="checkbox" ng-true-value="'text'" ng-false-value="'password'"
                            ng-init="typePassword = 'password'" ng-model="typePassword">
                        <span>Show Password</span>
                    </label>
                </div>
            </div>
            <p>
                <h6 class="tx-uppercase">Thread Pool Information</h6>
            </p>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Initial Size</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="initialSize" placeholder="Initial Size" required
                        ng-model="datasourceInstance.initialSize">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Max Total</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="maxTotal" placeholder="Max Total" required
                        ng-model="datasourceInstance.maxTotal">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Max Idle</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="maxIdle" placeholder="Max Idle" required
                        ng-model="datasourceInstance.maxIdle">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Min Idle</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="minIdle" placeholder="Min Idle" required
                        ng-model="datasourceInstance.minIdle">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">Max Wait</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="maxWait" placeholder="Max Wait" required
                        ng-model="datasourceInstance.maxWait">
                </div>
            </div>
            <div class="form-layout-footer mg-t-30">
                <button type="submit" class="btn btn-primary">
                    <span ng-show="canUpdate">Update</span><span ng-hide="canUpdate">Add DataSource</span>
                </button>
                <button class="btn btn-secondary" ui-sref="admin.datasource">Cancel</button>
            </div>
        </form>
    </div>
</div>