<div class="card card-customer-overview">
    <div class="card-header">
        <h6 class="slim-card-title">DataSource Table</h6>
        <nav class="nav">
            <a href="" class="nav-link" ui-sref="admin.datasourceForm">Add DataSource</a>
        </nav>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="log" class="table mg-b-0 tx-13">
                <thead>
                    <tr class="tx-10">
                        <th class="pd-y-5">DataSource Name</th>
                        <th class="pd-y-5">JNDI</th>
                        <th class="pd-y-5">Type</th>
                        <th class="pd-y-5">Target</th>
                        <th class="pd-y-5">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="datasource in datasources track by datasource.dataSourceId">
                        <td>{{datasource.name}}</td>
                        <td>{{datasource.jndi}}</td>
                        <td>
                            <span ng-if="datasource.driverClassName === 'com.mysql.jdbc.Driver'">MySQL</span>
                            <span ng-if="datasource.driverClassName === 'oracle.jdbc.OracleDriver'">Oracle</span>
                        </td>
                        <td class="d-flex flex-sm-row flex-column">
                            <select class="form-control select2" data-placeholder="Choose Browser" multiple
                                ng-attr-id="{{'instances-target-'+$index}}"
                                ng-init="instancesTarget = datasource.instancesTarget" ng-model="instancesTarget">
                                <option ng-repeat="instance in instances track by $index"
                                    ng-value="instance.instanceId">
                                    {{instance.instanceAgentId.agentName}}
                                </option>
                            </select>
                            <button class="btn btn-primary btn-sm mg-3"
                                ng-show="differ(instancesTarget, datasource.instancesTarget)"
                                ng-click="instancesTargetChanges(datasource, instancesTarget)">
                                Accept changes
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm"
                                ui-sref="admin.datasourceForm({datasourceId: datasource.dataSourceId})">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>