<div class="row row-sm">
    <div class="col-lg-6 pb-3">
        <tomcat-detail instance="instance"></tomcat-detail>
    </div>
    <div class="col-lg-6 pb-3" ng-if="instance.health.agentStatus === 'true'">
        <usage-status></usage-status>
    </div>
    <div class="col-12 ht-100v" ng-if="instance.health.agentStatus === 'true'">
        <div class="ht-40">
            <ul class="nav nav-underline flex-row">
                <li class="nav-item">
                    <a href="" class="nav-link" ui-sref="admin.tomcatInstance.deploymentList"
                        ng-class="{active: href === 'admin.tomcatInstance.deploymentList'}">Deployment List</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" ui-sref="admin.tomcatInstance.tomcatLog"
                        ng-class="{active: href === 'admin.tomcatInstance.tomcatLog'}">Log</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" ui-sref="admin.tomcatInstance.catalinaOut"
                        ng-class="{active: href === 'admin.tomcatInstance.catalinaOut'}">Catalina Out</a>
                </li>
            </ul>
        </div>
        <div ui-view></div>
    </div>
</div>