<div class="card card-customer-overview">
    <div class="card-header">
        <h6 class="slim-card-title" ng-hide="canUpdate">Register New User</h6>
        <h6 class="slim-card-title" ng-show="canUpdate">Update User</h6>
    </div>
    <div class="card-body">
        <form name="userForm" class="form-layout form-layout-6" ng-submit="save()">
            <div class="row no-gutters" ng-hide="canUpdate">
                <div class="col-5 col-sm-4">Username</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="credentialUsername" placeholder="Username" required
                        ng-model="dataUser.credentialUsername">
                </div>
            </div>
            <div class="row no-gutters" ng-hide="canUpdate">
                <div class="col-5 col-sm-4">Email Address</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="email" name="credentialEmail" placeholder="Email Address" required
                        ng-model="dataUser.credentialEmail">
                </div>
            </div>
            <div class="row no-gutters" ng-hide="canUpdate">
                <div class="col-5 col-sm-4">Password</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="credentialPassword" placeholder="Password" required
                        ng-model="dataUser.credentialPassword">
                </div>
            </div>
            <div class="row no-gutters" ng-show="canUpdate">
                <div class="col-5 col-sm-4">Activation</div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="text" name="" placeholder="Belum didefinisikan">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">User Role</div>
                <div class="col-7 col-sm-8">
                    <select class="form-control" name="userRoleName" required ng-model="dataUser.userRoleName">
                        <option value="">User Role</option>
                        <option ng-repeat="role in roles track by $index" ng-value="role">{{role}}</option>
                    </select>
                </div>
            </div>
            <div class="form-layout-footer mg-t-30">
                <button type="submit" class="btn btn-primary">
                    <span ng-show="canUpdate">Update</span><span ng-hide="canUpdate">Add User</span>
                </button>
                <button class="btn btn-secondary" ui-sref="admin.userManagement">Cancel</button>
            </div>
        </form>
    </div>
</div>