<div class="signin-wrapper">
    <div class="signin-box">
        <h2 class="slim-logo tx-inverse tx-light drl-logo">
            <a href="index.html">
                Tomcat Instance Management System
            </a>
        </h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter your username">
        </div>
        <div class="form-group mg-b-50">
            <input type="password" class="form-control" placeholder="Enter your password">
        </div>
        <button class="btn btn-primary btn-block btn-signin drl-btn-signin">Sign In</button>
    </div>
</div>