<div class="signin-wrapper">
    <div class="signin-box">
        <h2 class="slim-logo tx-inverse tx-light drl-logo">
            <a href="index.html">
                Tomcat Instance Management System
            </a>
        </h2>
        <div id="drl-alert-container"></div>
        <form name="formLogin" ng-submit="login()">
            <div class="form-group">
                <input name="credentialUsername" type="text" class="form-control" placeholder="Enter your username"
                    required ng-class="{'is-valid':formLogin.credentialUsername.$valid}"
                    ng-model="dataLogin.credentialUsername">
            </div>
            <div class="form-group mg-b-50">
                <input name="credentialPassword" type="password" class="form-control" placeholder="Enter your password"
                    required ng-class="{'is-valid':formLogin.credentialPassword.$valid}"
                    ng-model="dataLogin.credentialPassword">
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-signin drl-btn-signin">Sign In</button>
        </form>
    </div>
</div>