<div class="card card-customer-overview">
    <div class="card-header">
        <h6 class="slim-card-title">Instance Detail</h6>
        <nav class="nav">
            <a href="" class="nav-link">Start</a>
            <a href="" class="nav-link">Stop</a>
            <a href="" class="nav-link" ui-sref="admin.tomcatForm({agentId:$ctrl.instance.instanceId})">Edit</a>
            <a href="" class="nav-link" ng-click="delete()">Delete</a>
        </nav>
    </div>
    <div class="card-body">
        <p class="invoice-info-row">
            <span>Agent Status</span>
            <span>{{$ctrl.instance.health.agentStatus === 'true'? 'Active': 'Inactive'}}</span>
        </p>
        <p class="invoice-info-row">
            <span>Server Status</span>
            <span>{{$ctrl.instance.health.tomcatStatus === 'true'? 'Active': 'Inactive'}}</span>
        </p>
        <p class="invoice-info-row">
            <span>Agent Name</span>
            <span>{{$ctrl.instance.instanceAgentId.agentName}}</span>
        </p>
        <p class="invoice-info-row">
            <span>JVM Arguments</span>
            <span>{{$ctrl.instance.instanceJVMArgs}}</span>
        </p>
        <p class="invoice-info-row">
            <span>IP Address</span>
            <span>{{$ctrl.instance.instanceAgentId.agentIpAddress}}</span>
        </p>
        <p class="invoice-info-row">
            <span>Instance Port</span>
            <span>{{$ctrl.instance.instanceAgentId.agentPort}}</span>
        </p>
        <p class="invoice-info-row">
            <span>Instance Tomcat Port</span>
            <span>{{$ctrl.instance.instanceConnectorPort}}</span>
        </p>
        <p class="invoice-info-row">
            <span>Tomcat Directory</span>
            <span>{{$ctrl.instance.instanceAgentId.agentRemoteTomcatDir}}</span>
        </p>
        <p class="invoice-info-row">
            <span>Installation Destination</span>
            <span>{{$ctrl.instance.instanceAgentId.agentInstallationDestDir}}</span>
        </p>
        <p class="invoice-info-row">
            <span>Last Deploy</span>
            <span>{{$ctrl.instance.instanceLastDeploy}}</span>
        </p>
        <p class="invoice-info-row">
            <span>Date Created</span>
            <span>{{$ctrl.instance.instanceDateCreated}}</span>
        </p>
    </div>
</div>