<div class="card card-customer-overview">
    <div class="card-header">
        <h6 class="slim-card-title">Change Password</h6>
    </div>
    <div class="card-body">
        <form class="form-layout form-layout-6" name="formChangePassword" ng-submit="update()">
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                    Old Password
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="{{typePassword1}}" name="oldPassword" placeholder="Old Password"
                        required ng-model="password[0]">
                    <label class="ckbox tx-11 d-block">
                        <input type="checkbox" ng-true-value="'text'" ng-false-value="'password'"
                            ng-init="typePassword1 = 'password'" ng-model="typePassword1">
                        <span>Show Password</span>
                    </label>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-5 col-sm-4">
                    New Password
                </div>
                <div class="col-7 col-sm-8">
                    <input class="form-control" type="{{typePassword2}}" name="newPassword" placeholder="New Password"
                        required ng-model="password[1]">
                    <label class="ckbox tx-11 d-block">
                        <input type="checkbox" ng-true-value="'text'" ng-false-value="'password'"
                            ng-init="typePassword2 = 'password'" ng-model="typePassword2">
                        <span>Show Password</span>
                    </label>
                </div>
            </div>
            <div class="form-layout-footer mg-t-30">
                <button type="submit" class="btn btn-primary">Update Password</button>
            </div>
        </form>
    </div>
</div>