<div class="card card-customer-overview">
    <div class="card-header">
        <h6 class="slim-card-title">List User</h6>
        <nav class="nav">
            <a href="" class="nav-link" ng-click="newRole()">Create New Role</a>
            <a href="" class="nav-link">Register New User</a>
            <a href="" class="nav-link" ng-show="getSelected().length === 1" ng-click="edit()">Edit User</a>
            <a href="" class="nav-link" ng-show="getSelected().length > 0" ng-click="delete()">Delete Users</a>
        </nav>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover mg-b-0 tx-13">
                <thead>
                    <tr>
                        <th>
                            <label class="ckbox"><input type="checkbox" ng-model="selectAll"
                                    ng-click="changeAll()"><span></span></label>
                        </th>
                        <th>Username</th>
                        <th>Email Address</th>
                        <th>Date Created</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users track by $index" ng-click="user.select = !user.select">
                        <td>
                            <label class="ckbox"><input type="checkbox" ng-model="user.select"><span></span></label>
                        </td>
                        <td>{{user.credentialUsername}}</td>
                        <td>{{user.credentialEmail}}</td>
                        <td>{{user.credentialDateCreated}}</td>
                        <td>{{user.credentialActive? 'Active': 'Inactive'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>