<div class="card card-customer-overview">
    <div class="card-header">
        <h6 class="slim-card-title">Usage Status</h6>
        <nav class="nav">
            <a id="firstChart" href="" class="nav-link"
                ng-click="$ctrl.chart.instanceCpuLineChart.plotChart('chart'); chartActiveNow='cpu';"
                ng-class="{'active': chartActiveNow === 'cpu'}">CPU</a>
            <a href="" class="nav-link"
                ng-click="$ctrl.chart.instancePhysicalMemoryChart.plotChart('chart'); chartActiveNow='physical';"
                ng-class="{'active': chartActiveNow === 'physical'}">Physical
                Memory</a>
            <a href="" class="nav-link"
                ng-click="$ctrl.chart.instanceHeapMemoryChart.plotChart('chart'); chartActiveNow='heap';"
                ng-class="{'active': chartActiveNow === 'heap'}">Heap
                Memory</a>
        </nav>
    </div>
    <div class="card-body">
        <div id="chart"></div>
    </div>
</div>