<div class="card card-customer-overview">
    <div class="card-header">
        <h6 class="slim-card-title">Deployment List</h6>
        <nav class="nav">
            <a href="" class="nav-link" data-toggle="modal" data-target="#addDeployment">Add Deployment</a>
        </nav>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="deployment-list-table" class="table mg-b-0 tx-13">
                <thead>
                    <tr class="tx-10">
                        <th class="pd-y-5">Name</th>
                        <th class="pd-y-5">Location</th>
                        <th class="pd-y-5">Date Added</th>
                        <th class="pd-y-5">Path Group</th>
                        <th class="pd-y-5">Status</th>
                        <th class="pd-y-5">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="deployment in deploymentList track by $index">
                        <td>{{deployment.deployerDeployments[0].deploymentContextName}}</td>
                        <td>{{deployment.deployerDeployments[0].deploymentContextLocation}}</td>
                        <td>{{deployment.deployerDeployments[0].deploymentDateCreated}}</td>
                        <td>{{deployment.deployerDeployments[0].deploymentPathGroup}}</td>
                        <td>{{deployment.deployerDeployments[0].deploymentStatus === true? 'Running': 'Stop'}}</td>
                        <td>
                            <div class="d-flex flex-row justify-content-between">
                                <button class="btn btn-sm btn-primary pd-x-15"
                                    ng-hide="deployment.deployerDeployments[0].deploymentStatus"
                                    ng-click="start($index)">Start</button>
                                <button class="btn btn-sm btn-primary pd-x-15"
                                    ng-show="deployment.deployerDeployments[0].deploymentStatus"
                                    ng-click="stop($index)">Stop</button>
                                <button class="btn btn-sm btn-primary pd-x-15">Restart</button>
                                <button class="btn btn-sm btn-danger pd-x-15" ng-click="delete($index)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<add-deployment refresh-deployment-list="refreshDeploymentList()"></add-deployment>