<div id="confirm" class="modal fade">
    <div class="modal-dialog modal-dialog-vertical-center" role="document">
        <div class="modal-content bd-0 tx-14">
            <div class="modal-header bd-b-0-force pd-b-40-force">
                <h6 class="tx-14 mg-b-0 tx-inverse tx-bold" ng-transclude></h6>
            </div>
            <div class="modal-footer bd-t-0-force">
                <button type="button" class="btn btn-sm btn-primary pd-x-25" ng-click="yesFn()">Yes</button>
                <button type="button" class="btn btn-sm btn-secondary pd-x-25" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>